html, body {
	font-family: 'Raleway', sans-serif;
	color: #6b6d70;
}

/*scrollbar css codes here --------------------------------------------------------------------------------------*/
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #e7e7e7;
}

.scrollbar-custom-ds::-webkit-scrollbar-track {
  background: #3f51b5;
}
.scrollbar-custom-akssnap::-webkit-scrollbar-track {
  background: #4caf50;
}
.scrollbar-custom-cddsnap::-webkit-scrollbar-track {
  background: #f6c23e;
}
.scrollbar-custom-dbfc::-webkit-scrollbar-track {
  background: #e64a19;
}
/*all modal css codes here ---------------------------------------------------------------------------------------*/
.modal-con-override {
	background-color: #edf0f5;
}
.modal-con-override .modal-header,
.modal-con-override .modal-footer{
	border: none;
}
.modal-con-override .modal-header h5 {
	color: #3f51b5;
}
/*----------------------checksum here ----------------------------------------------------------------------------*/
.modal-checksum-data table{
	position: relative;
	border-collapse: collapse; 
}
.modal-checksum-data table thead tr {
	border: solid 1px #fff;
}
.modal-checksum-data table thead tr th {
	top:0;
	position: sticky;
	border:none;
	color: #3f51b5;
}
.modal-checksum-data tbody .tbody-td-1 {
	border:solid 1px #fff;
}
.modal-checksum-data tbody .tbody-td-2 {
	word-break: break-all;
	width: 150px;
	border:solid 1px #fff;
}
.modal-checksum-data tbody .tbody-td-3 {
	width: 100px;
	border:solid 1px #fff;
}
/*----------------------fail success report here -------------------------------------------------------------------------*/
.modal-reports-data .div-data-col{
	border: solid 1px #edf0f5; 
	height: 70px;
	padding-top: 17px;
}
.modal-reports-data h4 {
	margin-top: 100px;
}
.color-green-dif {
	color: #4caf50;
}
.color-yellow-dif {
	color: #f6c23e;
}
.color-green-dif,
.color-yellow-dif {
	margin-top: 8px;
}
.close-btn {
	margin-top: 80px
}
/*transition css codes here --------------------------------------------------------------------------------------*/
.side-bar,
.content-div,
.p-1,
.p-2,
.p-3,
.rdss-icon,
.report-div-sub-sub,
.dh-ul,
.dh-title,
.welcome-div-sub-sub-new {
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out !important;
}
/*box shadow css codes here --------------------------------------------------------------------------------------*/
/*.side-bar,*/
.welcome-div-sub-sub,
.welcome-div-sub-sub-new,
.report-div-sub-sub,
.chart-div-sub-sub,
.offer-div-sub-sub {
	-webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.20);
	box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.20);
}
.content-div{
	-webkit-box-shadow: inset 1px 0px 5px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: inset 1px 0px 5px 0px rgba(0,0,0,0.20);
	box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.20);
}
/*padding right left css codes here ------------------------------------------------------------------------------*/
.dashboard-header,
.welcome-div,
.report-div,
.chart-div,
.offer-div,
.footer-div,
.wdsnew-btn-div,
.wdsnew-con-wrap,
.button-div {
	padding-left: 15px;
	padding-right: 15px;
}
/*padding top css codes here -------------------------------------------------------------------------------------*/
.welcome-div-sub,
.report-div-sub,
.report-div-sub-sub,
.chart-div-sub,
.offer-div-sub,
.footer-div-sub,
.button-div-sub-sub,
.footer-div-sub-sub {
	padding-top: 25px !important;
}
/*letter spacing css codes here ----------------------------------------------------------------------------------*/
.sbl-title,
.sbp-user,
.li-a-nav,
.sub-li-a-nav,
.dh-title,
.dh-ul,
.wt-i-2,
.welcome-title-div span,
.wdsnew-btn-div input,
.extra-div ul li span,
.extra-div a span,
.color-green-dif,
.color-yellow-dif,
.modal-con-override .modal-header h5 {
	letter-spacing: 2px;
}
/*position absolute css codes here -------------------------------------------------------------------------------*/
.side-bar,
.sbl-title,
.li-nav-dd,
.content-div,
.p-3,
.rdss-icon,
.report-foot,
.extra-div{
	position: absolute;
}
/*position relative css codes here -------------------------------------------------------------------------------*/
.container-fluid-wrap,
.sbp-user,
.sbp-user-position,
.li-nav-div-span,
.sub-li-nav-div-span,
.sub-li-nav-div-span,
.dh-title,
.dh-ul,
.welcome-title-div span,
.extra-div ul li span,
.extra-div a span{
	position: relative;
}
/*font weight 200 css codes here ---------------------------------------------------------------------------------*/
.p-3,
.rdss-icon  {
	font-weight: 200;
}
/*font weight 500 css codes here ---------------------------------------------------------------------------------*/
.p-1,
.p-2,
.p-rname,
.report-foot p,
.wt-i-2,
.wdsnew-btn-div input,
.report-ds-data,
.chart-title-div,
.extra-div a span {
	font-weight: 500;
}
/*font weight 700 css codes here ---------------------------------------------------------------------------------*/
.sbl-title,
.sbp-user,
.ul-p,
.li-a-nav,
.sub-li-a-nav,
.dh-title,
.p-count,
.welcome-title-div span,
.report-akssnap-data-title,
.report-cddsnap-data-title,
.report-dbfc-data-title,
.modal-con-override .modal-header h5,
.color-green-dif,
.color-yellow-dif{
	font-weight: 700;
}
/*font size 20px css codes here ----------------------------------------------------------------------------------*/
.dh-ul i,
.wt-i-1,
.wt-i-2,
.p-count,
.report-foot i{
	font-size: 20px;
}
/*overflow hidden css codes here ---------------------------------------------------------------------------------*/
.side-bar,
.sbp-div,
.welcome-div-sub-sub-new,
.report-div-sub-sub,
.report-ds-data,
.offer-div-sub-sub{
	overflow: hidden;
}
/*color fff/white css codes here ---------------------------------------------------------------------------------*/
.sbl-title,
.wt-i-1,
.wt-i-2,
.welcome-title-div span,
.report-ds-data,
.div-green-dif,
.div-yellow-dif,
.div-aks-site,
.div-cdd-site{
	color: #fff;
}
/*bacground color fff/white css codes here -----------------------------------------------------------------------*/
.welcome-div-sub-sub,
.welcome-div-sub-sub-new,
.report-div-sub-sub,
.chart-div-sub-sub,
.offer-div-sub-sub,
.extra-div,
.modal-checksum-data table thead tr th,
.modal-reports-data .div-data-col{
	background-color: #fff;
}
/*custom css codes here ------------------------------------------------------------------------------------------*/
.side-nav-view {
	transform: translateX(0) !important;
}
.push-div {
	transform: translateX(80%) !important;
}
.display-none-div {
	display: none !important;
}
.position-left-element {
	float: left !important;
	margin-left: -80px;
}
.add-height {
	height: 800px !important;
}
.add-height-1{
	height: 500px !important;	
}
.no-padding {
	padding: 0;
}
.active-class{
	background-color: #f5f7f9 !important;
}

/*main container css codes here ----------------------------------------------------------------------------------*/
.container-fluid-wrap {
	width: 100%;
}
/*sidebar css codes here -----------------------------------------------------------------------------------------*/
.side-bar {
	width: 20%;
}
.side-bar-logo {
	padding-left: 30px;
	height:70px;
	background-color: #303f9f;
	padding-top:  15px;
}
.sbl-pic {
	width: 40px;
	height: 40px;
}
.sbl-pic img{
	max-width: 100%;
	max-height: 100%;
}
.sbl-title {
	top: 25px;
	margin-left: 45px;
}
.side-bar-profile {
	height: 150px;
	border-bottom: solid 2px #f5f7f9;
	padding-left: 25px;
}
.sbp-div {
	margin-top: 38px;
	width:75px;
	height:75px;
	border-radius:50%;
}
.sbp-div img{
	max-width:100%;
	height:100%;
}
.sbp-user {
	top: 60px;
	font-size: 15px;
	text-transform: uppercase;
}
.sbp-user-position {
	top: 50px;
	letter-spacing: 1px;
	font-size: 10px;
}
.ul-nav {
	margin: 50px 0 0 0;
}
.ul-p {
	margin: 0 0 0 20px;
	font-size: 11px;
	padding-bottom: 20px;
}
.ul-nav,
.sub-ul-nav  {
  padding: 0;
  list-style-type: none;
}
.li-a-nav,
.sub-li-a-nav {
	color: #6b6d70;
}
.li-nav {
  border-bottom: 1px solid #f5f7f9;
}
.li-nav:hover{
  background-color: #f5f7f9;
}
.li-a-nav:focus,
.li-a-nav:hover,
.sub-li-a-nav:focus,
.sub-li-a-nav:hover{
	color: #66686b;
	text-decoration: none;
}
.li-a-nav:focus > .li-nav-div{
	background-color: #f5f7f9;
}
.sub-li-nav:hover {
	background-color: rgb(4,95,43, .3);
}
.li-nav-div,
.sub-li-nav-div {
	width: 100%;
	height: 70px;
}
.li-nav-div-span,
.sub-li-nav-div-span {
	top: 27px;
	margin: 0 0 0 20px;
	font-size: 15px;
}
.sub-li-nav-div-span {
	margin: 0 0 0 50px;
}
.sub-ul-nav {
	display: none;
}
.li-nav-dd {
	margin-top: 30px;
	right: 8%;
}
.show-side-bar {
	cursor: pointer;
}
/*content css codes here ---------------------------------------------------------------------------------------*/
.content-div {
	margin: 0 0 0 20%;
	width: 80%;
	z-index: -1;
	background-color: #edf0f5;
}

/*dashboard css codes here --------------------------------------------------------------------------------------*/
.dashboard-header {
	width: 100%;
	height: 70px;
	background-color: #3f51b5;
	/* position: fixed; */
}
.dh-title {
	top: 25px;
	left: 15px;
	color: #edf0f5;
}
.dh-ul {
	top: 25px;
	color: #edf0f5;
}
.dh-ul li {
	margin-left: 10px;
}
.show-extra-div:hover {
	color: #4caf50;
}
.extra-div {
	margin-top: 2px;
	display: none;
	width: 300px;
	height: 250px;
	z-index: 2;
	right: 70px;
	border: solid 2px #edf0f5;
	border-radius: 5px;
}
.extra-div ul {
	list-style-type: none;
	padding: 0; 
	color: #000;
	margin-top: 40px;
	padding-left: 30px;
}
.extra-div ul li {
	margin-top: 30px;
}
.extra-div ul li i,
.extra-div a i {
	width: 20px;
	text-align: center;
}
.extra-div ul li span,
.extra-div a span {
	top:-2px;
	left: 10px;
}
.extra-div hr {
	border-top: solid 2px #edf0f5;
}
.extra-div a {
	margin-left: 30px;
}

/* welcome div area here  ---------------------------------------------------------------------------------------*/
.welcome-div-sub-sub {
	padding: 25px 30px 25px 20px; 
	height: 110px;
}
.welcome-div-sub-sub-new {
	height: 110px;
}
.p-1 {
	font-size: 17px;
	letter-spacing: 1px;
}
.p-1 b {
	color: #3f51b5;
}
.p-2 {
	letter-spacing: .5px;
}
.p-3 {
	top:35px;
	right: 35px;
	font-size: 30px; 
	color: #000;
}
.welcome-title-div {
	height: 40px;
	background-color: #4caf50;
}
.wt-i-1 {
	margin-left: 20px;
	margin-top: 10px;
}
.wt-i-2 {
	cursor:pointer;
	margin-top: 12px;
	margin-right: 15px;
}
.wt-i-2:hover {
	color: #3f51b5;
}
.welcome-title-div span {
	top: -2px;
	margin-left: 10px;
	font-size: 	10px;
}
.wdsnew-btn-div input {
	border-radius: 0; 
	width: 100%;
	height: 40px;
	margin-top: 15px;
	font-size: 12px;
}
.wdsnew-con-wrap-sub {
	margin-top: 15px;
	overflow: auto; 
	overflow-x: hidden;
	height: 375px;
	background-color: #edf0f5;
}
.alog-textarea {
	width: 100%;
	height: 300px;
	resize: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.change-log-div {
	padding: 0 0 15px 5px;
	font-size: 14px;	
	/*font-weight: 700;*/
	list-style-type: none;
}
.addChanglog-header {
	margin: 15px 0 0 0;
	padding-bottom: 20px !important;
}
.addChanglog-line-bottom {
  width:100%;
  height:1px;
  background-color: rgb(101,177,136, .5 );
  margin-top: 15px;
  /*margin-left: -30px;*/
}


/* display report area here  --------------------------------------------------------------------------------------*/
.report-div-sub-sub {
	height: 165px;
}
.rdss-icon {
	top: 33px;
	right: 25px;
	font-size: 50px; 
	color: #e7e7e7;
}
.report-ds .p-count {
	color: #3f51b5;
}
.report-akssnap .p-count {
	color: #4caf50;
}
.report-cddsnap .p-count {
	color: #f6c23e;
}
.report-dbfc .p-count{
	color: #e64a19;
}
.p-count {
	margin-top: 10px;
	margin-left: 20px;
}
.p-rname {
	margin-left: 20px;
	letter-spacing: .5px;
}
.report-ds .report-foot{
	background-color: #3f51b5;
}
.report-akssnap .report-foot {
	background-color: #4caf50;
}
.report-cddsnap .report-foot {
	background-color: #f6c23e;
}
.report-dbfc .report-foot {
	background-color: #e64a19;
}
.report-foot {
	bottom: 0;
	width: 100%;
	height: 40px;
	color: #edf0f5;
	padding-right: 25px;
	z-index: 1;
}
.report-foot i {
	margin-left: 20px;
	margin-top: 10px;
}
.report-foot p {
	margin-top: 10px;
	cursor: pointer;
}
.report-foot p:hover{
	text-decoration: underline;
}
.display-data-report {
	margin-top: 33px;
	height: 635px;
	overflow: auto;
}
.report-ds-con-wrap {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
}
.report-ds-data {
	border-radius: 5px;
	background-color: #3f51b5;
	padding: 10px;
	margin-bottom: 5px;
	word-break: break-all;
}
.report-akssnap-con-wrap,
.report-cddsnap-con-wrap,
.report-dbfc-con-wrap {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
}
.report-akssnap-data-title-div,
.report-cddsnap-data-title-div {
	padding-bottom: 30px;
}
.report-akssnap-con-wrap table,
.report-cddsnap-con-wrap table {
	word-break: break-all;
}
.report-akssnap-con-wrap table tr th,
.report-akssnap-con-wrap table tr td,
.report-cddsnap-con-wrap table tr th,
.report-cddsnap-con-wrap table tr td  {
	border:solid 1px #edf0f5;
}
.report-akssnap-con-wrap .custom-width-th,
.report-cddsnap-con-wrap .custom-width-th{
	width: 45px !important;
}

.div-green-dif {
	background-color: #4caf50;
}
.div-yellow-dif {
	background-color: #f6c23e;
}
.div-green-dif,
.div-yellow-dif {
    width: 20%;
    text-align: center;
}
.div-aks-site,
.div-cdd-site {
	margin-bottom: 10px;
	border-radius: 5px;
}
.div-aks-site {
	background-color: #4caf50;
}
.div-cdd-site {
	background-color: #f6c23e;
}
.report-dbfc-data-title-div {
	padding: 10px;
	padding-bottom: 0;
}
.report-dbfc-data-title {
	font-size: 13px;
}
.report-dbfc-data {
	padding: 10px;
	padding-top: 0;
}


/* display chart  area here  --------------------------------------------------------------------------------------*/
.chart-div-sub-sub {
	padding-bottom: 20px;
	/*background-color: rgba(255,255,255, .5);*/
	/*height: 450px;*/
}
.chart-title-div {
	padding: 20px; 
	font-size: 17px; 
}
.chart-title-div i{
	color: #3f51b5
}
.chart-title-div span{
	letter-spacing: 1px;
	color: #000;	
}
.polart-chart-div {
	padding-left: 20px;
	padding-right: 20px;
}

/* display offer  area here  --------------------------------------------------------------------------------------*/
.offer-div-sub-sub {
	padding: 20px;
	/*height: 350px;*/
}
.offer-div-sub-sub table tbody{
	word-break: break-all;
}
.offer-div-sub-sub .no-footer,
.offer-div-sub-sub thead th {
	border: none !important; 
}

/* display offer  area here  --------------------------------------------------------------------------------------*/
.footer-div-sub-sub {
	/*border-top: solid 1px #fff; */
	height: 70px;
}

.chk-inputDate{
	background-color: #edf0f5;
	width: 15%;
    border:none;
    border-bottom: 2px solid silver;
    outline: none;
}